
body{
            backgroud:#ffffff;
}
p {
            font-family: "Comic sans MS", cursive, sans-serif;
}
.header {
         
            min-height:50px;
            border-radius:3px;       
            background:#A6D1E0;       
}
.container {
            overflow:hidden;
            width:80%;
            margin: auto;
            display: :block;
            
}
.header #logo {
            float:left;
            margin-top:auto;
            margin-bottom: :auto;
            margin-left:30px;
            font-family: 'Fredoka One', cursive;
}
.header h1 {
            margin: 10px 0 20px 0;
}
.header #aa {
            font-family: 'Permanent Marker', cursive;
            font-size: 40px;
         
}
.header nav{
            float:right;
            margin-top: 30px;
            margin-right: 10px;
            font-family: 'Baloo Bhaina', cursive;
            font-size: 15px;
    
}
.header nav a:hover {
    color: black;
  }
header li{
    padding:0 5px 0 5px;
}
a {
    text-decoration: none;
    margin: 0 10px 0 10px;
}
.slider-holder
        {
            max-width: 1600px;
            height: 300px;
            margin-top: 0px;
            overflow: hidden;
            background:url(image-1.jpg);
        }
        .slider-holder #slide {
            margin: auto;
            text-align: center;
            font-family: sans-serif;
            font-size: 17px;
            color: white;
            width: 50%;
        }
        .slider-holder a {
            color: #ffffff;
        }
        
        
.row     {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width:80%;

        }
        .row .column {
           
            font-size: 15px;
            text-align: center;
            width:25%;
            min-width:120px;
            margin-top:auto;
            float:left;
         
          
          }
        .row .column img {
            vertical-align: middle;
    
          
          
          }

    .footer{
              clear:both;
              margin:auto;
              background:#A6D1E0;  
          }
           .footer #copy{
               float:left;
               margin:auto;
           }
        .footer #logo {
            float:right;
            margin-top:auto;
            margin: auto;
            font-family: 'Fredoka One', cursive;
}
        #slide a:hover{
            color: black;
        }

